{{ define "load_page_assets" }}

  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

  {{ $paginator := .Paginate $pages }}

  {{ range $paginator.Pages }}
    {{ with .Content }}{{ end }}
    {{ $page_css := .Scratch.Get "css" }}
    {{ with $page_css }}
      {{ $css_list := $.Scratch.Get "css" }}
      {{ . | merge $css_list | $.Scratch.Set "css" }}
    {{ end }}
    {{ $page_js := .Scratch.Get "js" }}
    {{ with $page_js }}
      {{ $js_list := $.Scratch.Get "js" }}
      {{ . | merge $js_list | $.Scratch.Set "js" }}
    {{ end }}
  {{ end }}

  {{ $paginator | .Scratch.Set "paginator" }}

{{ end }}

{{ define "main" }}

  {{ $paginator := .Scratch.Get "paginator" }}

  {{ range $paginator.Pages }}
    <article>
{{ if site.Params.summaries }}
{{ if .Truncated }}
      <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Summary}}</a>
{{ end }}
{{ else }}
      <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Content}}</a>
{{ end }}
    </article>
    {{ with site.Params.divider }}
      <div class="Divider"></div>
    {{ end }}
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
